aside {min-width: 500px;
    z-index: 1;
}

aside * {margin: 20px}

aside div,
aside span,
aside input,
aside button,
aside select {
    color: #333;
    background-color: white;
    padding: 5px 8px;
    font-size: 1.1em;
    
    border: 1.8px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
}

aside input {width: 100px}