@import "aside.css";

html, body {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.9);
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin:0;
}
li{
    list-style: none;
}

nav > ul > li > a {
    color:white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
}
li:first-child{
    margin-top: 1rem;
    margin-right: 4em;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

canvas{
    position: absolute;
    background-color: black;
    bottom: 0; left: 0;
    height: calc(100vh - 80px);
    width: 100vw;
}

.legendMap{
    width: 336px;
    z-index: 1;
}
.color1{
    background-color: #FF6600;
    border-left: 1px solid black;
}
.color2{
    background-color: #FFCD30;
}
.color3{
    background-color: #00CD00;
}
.color4{
    background-color: #0066FF;
}
.color5{
    background-color: #0000CD;
}
.color6{
    background-color: #300066;
    border-right: 1px solid black;
}
.color7{
    background-color: #300066;
}
.legend{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.colorsFila{
    display: flex;
    flex-direction: row ;
    margin: 20px;
    margin-bottom: 0px; 
}
.color1,.color2,.color3,.color4,.color5,.color6{
    width: 50px;
    height: 50px;
    border: solid 1px black;
}
.informaFila > p{
    background-color: brown;
    height: 23px;
    width: 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}
.informaFila{
    display: flex;
    justify-content: space-around;
}
