@import "aside.css";

html, body {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.9);
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin:0;
}
li{
    list-style: none;
}

nav > ul > li > a {
    color:white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
}
li:first-child{
    margin-top: 1rem;
    margin-right: 4em;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.canvas-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
canvas{
    width: 1280;
    height: 1024;
}