@import "aside.css";

html, body {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: #00103b;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right
}

nav > a {
    color: gold;
    text-decoration: none;
    margin-right: 40px;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.pins > span {min-width: 300px;}
span.red {color: red}
span.blue {color: blue}
span.green {color: green}
span.purple {color: purple}
span.orange {color: orange}
span.yellow {color: yellow}